<ion-view view-title="Browse">
  <ion-content>
    <h1>Browse</h1>

      <!--<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.0.0/annyang.min.js"></script>
      <script>
if (annyang) {
  // Let's define our first command. First the text we expect, and then the function it should call
  

  // Add our commands to annyang
  annyang.addCommands(commands);
  annyang.debug();
  // Start listening. You can call this here, or attach this call to an event, button, etc.
  annyang.start();

}
      </script>
      <button onclick="annyang.start()">Speak</button>
      <div id="tpsreport"></div>-->
  </ion-content>
</ion-view>
